.header{
    color: rgb(33, 140, 116);
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    font-size: 23px;
    text-align: center;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }